.campos {
  padding: 1rem !important;
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #415161;
}
.largoSpan {
  width: 200px !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.largoInput {
  width: 200px !important;
  height: 40px !important;
  padding-bottom: 2rem !important;
}
.form {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  border: black;
}
span {
  padding-right: 1rem;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #415161;
  padding-bottom: 1rem !important;
}
.paddinBoton {
  padding: 2rem !important;
}
